@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background: #536976;
  background: linear-gradient(to right, #292e49, #415a68);
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.container {
  padding: 10px;
  width: 370px;
}

.header {
  width: 350px;
  height: 200px;
  background-image: url("img.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 15px 15px 0 0;
  position: relative;
}

.clear {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 20px;
  top: 20px;
}

.clear i {
  font-size: 30px;
  color: #fff;
  transition: 0.3s ease;
}

.clear i:hover {
  cursor: pointer;
  text-shadow: 1px 3px 5px #000;
  transform: rotate(45deg);
}

#date {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #fff;
  font-size: 25px;
  font-family: "Poppins", sans-serif;
}

.content {
  width: 350px;
  height: 340px;
  max-height: 350px;
  background-color: #fff;
  overflow: auto;
}

.content::-webkit-scrollbar {
  display: none;
}

.content ul {
  padding: 0;
  margin: 0;
}

.item {
  width: 350px;
  height: 45px;
  min-height: 45px;
  position: relative;
  border-bottom: 1px solid #ccc;
  list-style: none;
  padding: 0;
  margin: 0;
}

.item i.co {
  position: absolute;
  font-size: 25px;
  padding-left: 5px;
  left: 10px;
  top: 10px;
}

.item i.co:hover {
  cursor: pointer;
}

.fa-check-circle {
  color: #6eb200;
}

.item p.text {
  position: absolute;
  padding: 0;
  margin: 0;
  font-size: 20px;
  left: 50px;
  top: 7.5px;
  background-color: #fff;
  max-width: 265px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.lineThrough {
  text-decoration: line-through;
  color: #ccc;
}

.item i.delete {
  position: absolute;
  font-size: 25px;
  right: 20px;
  top: 8px;
}

.item i.delete:hover {
  color: #af0000;
  cursor: pointer;
}

.add-to-do {
  position: relative;
  width: 350px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  border-top: 1px solid #ccc;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.add-to-do i {
  position: absolute;
  font-size: 35px;
  color: #2c7dc4;
  cursor: pointer;
  transition: 0.2s ease;
}

.add-to-do i:hover {
  color: #205b8f;
}
.add-to-do input {
  position: absolute;
  left: 45px;
  height: 35px;
  width: 280px;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 20px;
  padding-left: 10px;
}

.add-to-do input::placeholder {
  color: #2c7dc4;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}
