@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background: rgb(128, 255, 177);
  background: linear-gradient(
    135deg,
    rgba(128, 255, 177, 1) 0%,
    rgba(157, 255, 251, 1) 38%,
    rgba(25, 141, 164, 1) 100%
  );
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  background-color: white;
  max-width: 450px;
  width: 100%;
  padding: 25px;
  border-radius: 5px;
}

.wrapper .header {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 30px;
  text-align: center;
}

.wrapper .inputField {
  display: flex;
  height: 45px;
  width: 100%;
}

.inputField input {
  width: 90%;
  height: 100%;
  border: 1px solid #ccc;
  font-size: 17px;
  border-radius: 3px;
  padding-left: 15px;
  caret-color: #0275d8;
  outline: none;
}

.inputField .btn {
  border: none;
  outline: none;
  box-shadow: none;
  height: 100%;
  width: 60px;
  margin-left: 5px;
  font-size: 20px;
  opacity: 0.6;
  pointer-events: none;
}
.inputField .btn.active {
  opacity: 1;
  pointer-events: auto;
}

.btn,
.btn:focus,
.btn:active,
.inputField .btn.active:focus {
  outline: none;
  box-shadow: none;
}

.wrapper .tasks {
  padding: 0;
  margin: 25px 0;
  max-height: 200px;
  overflow-y: auto;
  min-height: 220px;
}

.tasks li {
  position: relative;
  list-style: none;
  height: 45px;
  line-height: 45px;
  background-color: #f2f2f2;
  border-radius: 3px;
  margin-bottom: 8px;
  padding: 0 15px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.tasks li .btn-danger {
  position: absolute;
  right: -45px;
  width: 45px;
  height: 100%;
  text-align: center;
  font-size: 20px;
  color: #fff;
  transition: all 0.3s ease-in;
}

.tasks li:hover .btn-danger {
  right: 0px;
}

.wrapper .footer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  padding-left: 15px;
}

.taskNum {
  color: rgb(0, 172, 23);
  font-weight: bold;
}
.wrapper .footer .btn {
  width: 98px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  opacity: 0.6;
  pointer-events: none;
}

.wrapper .footer .btn.active {
  opacity: 1;
  pointer-events: auto;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
}

::-webkit-scrollbar-thumb {
  background: rgb(148, 148, 148);
}

@media only screen and (max-width: 568px) {
  .wrapper {
    max-width: 350px;
  }
}

@media only screen and (max-width: 368px) {
  .wrapper {
    max-width: 300px;
  }
}
