@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  padding: 0;
  margin: m 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f8f8f8;
}

.container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  transition: 0.5s;
}

.container.blur {
  filter: blur(10px);
  pointer-events: none;
  user-select: none;
}

.content {
  position: relative;
  max-width: 800px;
}

h2 {
  font-weight: 600;
  text-align: left;
  margin: 0 0 20px 0;
  color: #333;
}

img {
  display: block;
  border-radius: 5px;
  max-width: 100%;
}

a {
  position: relative;
  display: inline-block;
  padding: 10px 15px;
  margin: 20px 0 0 0;
  text-decoration: none;
  color: white;
  background-color: #111;
  border-radius: 5px;
  font-size: 18px;
}

.popup {
  position: fixed;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  padding: 50px;
  box-shadow: 0 5px 30px reba(0, 0, 0, 0.4);
  background: white;
  border-radius: 5px;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}

.popup.active {
  top: 50%;
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}
