@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  font-size: 16px;
  min-height: 100vh;
  display: grid;
  place-items: center;
  background: rgb(41, 46, 73);
  background: linear-gradient(
    20deg,
    rgba(41, 46, 73, 1) 0%,
    rgba(81, 117, 138, 1) 100%
  );
}

.calc-container {
  background-color: #1d1d1d;
  width: 300px;
  height: auto;
  border-radius: 5px;
}

.output {
  width: 100%;
}

.operation {
  width: 300px;
  height: 70px;
  color: #878787;
  font-size: 2em;
  font-weight: bold;
  position: relative;
  overflow: hidden;
}

.operation .value {
  position: absolute;
  bottom: 5px;
  right: 10px;
  white-space: nowrap;
  overflow: hidden;
}

.result {
  width: 300px;
  height: 100px;
  color: #fff;
  font-size: 2.8em;
  font-weight: bold;
  overflow: hidden;
  position: relative;
}

.result .value {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  white-space: nowrap;
  overflow: hidden;
}

.input {
  background-color: #fff;
  border-radius: 0 0 5px 5px;
  border: 2px solid #1d1d1d;
  height: 385px;
  width: 100%;
}

.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.row button {
  width: 60px;
  height: 60px;
  font-size: 30px;
  border: none;
  border-radius: 5px;
  background-color: #f8f8f8;
  margin: 8px;
  cursor: pointer;
  outline: none;
}

.row button:hover {
  border: 1px solid rgb(204, 204, 204);
}

.row #calculate {
  color: #fff;
  background-color: #5cb85c;
  width: 130px;
  border-radius: 5px;
  font-weight: bold;
}

.row #delete {
  font-size: 30px;
  color: #da1e11;
}

.row #clear {
  font-weight: bold;
  color: white;
  background-color: #da1e11;
}

#division,
#multiplication,
#subtraction,
#addition,
#percent {
  color: #0275d8;
  font-size: 30px;
  font-weight: bold;
}
